@	using Wayfinder.Shared.Data.Entries;
@	using Wayfinder.Client.Components.Application.Views;
@	using Wayfinder.Client.Components.Application.Editors.Descriptor



<div component-name="DescriptorQueueEditor" class="basic" style="display: inline-block;">
	EDITOR GO HERE
	
    <DescriptorEditor
        OnDescriptorSelect="async (e) => {}"
        CanCreate=true CanEdit=true CanSearch=true />
</div>
