@using Wayfinder.Shared.Data.Entries;
@using Wayfinder.Client.Components.Application.Views;



<div component-name="KnowledgeEditor" class="basic" style="display: inline-block;">
    @* <TermSearchInput /> *@
    EDITOR GO HERE
    <div id="term_search_results_tabs" class="tab-container">
        @*<DescriptorsList />
        <DescriptorEditor />*@
    </div>
</div>
