@	using Wayfinder.Shared.Data;
@	using Wayfinder.Shared.Data.Entries;
@	using Wayfinder.Client.Data
@	using Wayfinder.Client.Components.Application.Views;
@	using Wayfinder.Client.Components.Application.Views.Collections;
	using Wayfinder.Shared.DataEntries;



<div component-name="TermEditor"
        style="display: inline-block;"
        class="basic @(this.Disabled ? "disabled" : null)">
    @*<component-label>@this.Label</component-label>*@
    <input type="text"
            disabled=@this.Disabled
            placeholder=@this.Label
            title=@this.Description
            @ref=this.InputElement
            @onfocusin=@(e => this.IsSeachFocused = true)
            @onfocusout=@(e => this.IsSeachFocused = false)
            @onkeydown=@(async e => await this.InteractSearchResults_UI_Async( e ))
            @oninput=@(async e => await this.UpdateTermSearchResults_UI_Async( e.Value?.ToString() ?? "" ))
            @onchange=@(async e => await this.SubmitNewTerm_UI_Async( e.Value?.ToString() ?? "" )) />
    <div>
        <div style="position: absolute; display: inline-block;">
            @if( this.IsSeachFocused ) {
                <TermEntryListDisplay Terms=@this.SearchOptions
                        OnClickEach=@(async (t, _) => await this.SelectSearchResults_UI_Async(t)) />
            }
       </div>
    </div>
</div>
