.timeline-component {
    position: relative;
    border: 1px solid black;
    height: 128px;
    overflow: hidden;
}

.timeline-unit {
    position: absolute;
    display: block;
    /*display: inline-block;*/
}

.timeline-unit-year {
    border: 1px solid green;
    height: 128px;
    top: 0px;
}

.timeline-unit-month {
    border: 1px solid blue;
    height: 104px;
    top: 24px;
}

.timeline-unit-day {
    border: 1px solid yellow;
    height: 80px;
    top: 48px;
}

.timeline-unit-hour {
    border: 1px solid red;
    height: 56px;
    top: 72px;
}

.timeline-unit-minute {
    border: 1px solid purple;
    height: 32px;
    top: 96px;
}

/********/

.timeline-seg {
    position: absolute;
    height: 100%;
    background-color: grey;
    opacity: 0.2;
}

    .timeline-seg.timeline-seg-current {
        background-color: red;
    }

.timeline-cond-seg {
    position: absolute;
    height: 100%;
    background-color: green;
    opacity: 0.2;
}
