@using Wayfinder.Shared.Data.Entries.Descriptor;



@if( this.OnClick is not null ) {
    <div component-name="DescriptorDisplay"
	        class="basic"
	        style=@this.Style
            @onclick=@(async e => await this.OnClick(e))>
        @this.Descriptor.ToString()
    </div>
} else {
    <div component-name="DescriptorDisplay" class="basic" style=@this.Style>
        @this.Descriptor.ToString()
    </div>
}



@code {
    //[Inject]
    //public IJSRuntime Js { get; set; } = null!;

    //[Inject]
    //public ClientDataAccess Data { get; set; } = null!;


    [Parameter]
    public string? Style { get; set; } = null;

    [Parameter, EditorRequired]
    public DescriptorEntry Descriptor { get; set; } = null!;

    [Parameter]
    public Func<MouseEventArgs, Task>? OnClick { get; set; } = null;
}
