@	using Wayfinder.Shared.Data.Entries;
@	using Wayfinder.Client.Components.Application.Views.DescriptorConditions



@if( this.OnClick is not null ) {
    <div component-name="GoalDisplay" class="basic" @onclick=@(async e => await this.OnClick(e))>
        @(this.Goal.Name) - <DescriptorConditionsDisplay Conditions=@this.Goal.Conditions />
    </div>
} else {
    <div component-name="GoalDisplay" class="basic">
        @(this.Goal.Name) - <DescriptorConditionsDisplay Conditions=@this.Goal.Conditions />
    </div>
}


@code {
    //[Inject]
    //public IJSRuntime Js { get; set; } = null!;

    //[Inject]
    //public ClientDataAccess Data { get; set; } = null!;


    [Parameter, EditorRequired]
    public GoalEntry Goal { get; set; } = null!;

    [Parameter]
    public Func<MouseEventArgs, Task>? OnClick { get; set; } = null;
}
