@using Wayfinder.Shared.Data.Entries;



@if( this.OnClick is not null ) {
    <div component-name="TermDisplay" class="basic" @onclick=@(async e => await this.OnClick(e))>
        @this.Term.ToString()
    </div>
} else {
    <div component-name="TermDisplay" class="basic">
        @this.Term.ToString()
    </div>
}


@code {
    //[Inject]
    //public IJSRuntime Js { get; set; } = null!;

    //[Inject]
    //public ClientDataAccess Data { get; set; } = null!;


    [Parameter, EditorRequired]
    public TermEntry Term { get; set; } = null!;

    [Parameter]
    public Func<MouseEventArgs, Task>? OnClick { get; set; } = null;
}
