@page "/";


@using Wayfinder.Client.Components.Application;
@using Wayfinder.Client.Components.Application.Editors;
@using Wayfinder.Client.Components.Application.Editors.Descriptor
@using Wayfinder.Client.Components.Application.Pickers;



<PageTitle>Home</PageTitle>


<HeadContent>
    <link rel="stylesheet" href="lib/components/standard/tabs/css/tabs.css" />
    <link rel="stylesheet" href="lib/components/standard/toggle-switch/css/toggle-switch.css" />
</HeadContent>


<div style="display: grid; grid-template-columns: auto auto;">
    <div class="panel" style="height: 100%;">
        <div id="goals_list" class="sub-panel" style="height: 50%;">
            <h3>Goals:</h3>
        </div>

        <div id="plans_list" class="sub-panel" style="height: 50%;">
            <h3>Plans:</h3>
        </div>
    </div>

    <div class="tab-container">
        <input type="radio" id="tab-goals" name="css-tabs" checked>
        <input type="radio" id="tab-plans" name="css-tabs">
        <input type="radio" id="tab-prompt" name="css-tabs">
        <input type="radio" id="tab-knowledge" name="css-tabs">
        <input type="radio" id="tab-map" name="css-tabs">

        <ul class="tab-button-container">
            <li class="tab-button"><label for="tab-goals">Goals Entry</label></li>
            <li class="tab-button"><label for="tab-plans">Goal Plan Maker</label></li>
            <li class="tab-button"><label for="tab-prompt">Knowledge Prompting</label></li>
            <li class="tab-button"><label for="tab-knowledge">Knowledge Editor</label></li>
            <li class="tab-button"><label for="tab-map">Map Editor</label></li>
        </ul>

        <div class="tab-content">
            <h4>Goals Entry</h4>
            @* <GoalEditor OnGoalSelect="async e => {}" /> *@
        </div>

        <div class="tab-content">
            <h4>Goal Plan Maker</h4>
            <PlanEditor />
        </div>

        <div class="tab-content">
            <h4>Knowledge Prompting</h4>
            <DescriptorQueueEditor />
        </div>

        <div class="tab-content">
            <h4>Knowledge Editor</h4>
            <KnowledgeEditor></KnowledgeEditor>
        </div>

        <div class="tab-content">
            <h4>Map Editor</h4>
            <MapEditor />
        </div>
    </div>
</div>

