@using Wayfinder.Shared.Libraries.BooleanTree;
@using Wayfinder.Shared.Data;
@using Wayfinder.Shared.Data.Entries;
@using Wayfinder.Shared.Data.Entries.Descriptor;
@using Wayfinder.Client.Components.Standard;
@using Wayfinder.Client.Components.Application.Views;
@using Wayfinder.Client.Components.Application.Views.Collections;
@using Wayfinder.Client.Components.Application.Pickers;
@using Wayfinder.Client.Components.Application.Editors.Schedule;



<div component-name="DescriptorConditionsDisplay"
        style="display: inline-block;"
        class="basic">
    <component-label>Descriptor conditions:</component-label>
    <DescriptorConditionsTreeDisplay Tree=@this.Tree />
</div>



@code {
    [Parameter, EditorRequired]
    public DescriptorConditionsTree Tree { get; set; } = null!;
}
