@using Wayfinder.Shared.Utility.BooleanTree;
@using Wayfinder.Shared.Data;
@using Wayfinder.Shared.Data.Entries;
@using Wayfinder.Shared.Data.Entries.Descriptor;
@using Wayfinder.Client.Data;
@using Wayfinder.Client.Components.Standard.Timeline;
@using Wayfinder.Client.Components.Application.Views;
@using Wayfinder.Client.Components.Application.Views.Collections;
@using Wayfinder.Client.Components.Application.Views.DescriptorConditions;
@using Wayfinder.Client.Components.Application.Pickers;
@using Wayfinder.Client.Components.Application.Editors.DescriptorFacts;
@using Wayfinder.Client.Components.Application.Editors.DescriptorFactsTimeline;
@using Wayfinder.Client.Components.Application.Editors.DescriptorConditions;



<div component-name="DescriptorEditor" class="basic @(this.Disabled ? "disabled" : null)">
    @if( this.Label is not null ) {
        <h4>@this.Label</h4>
    }

    @if( this.Abridged ) {
        <TimelineDisplay Timeline=@this.GetCurrentFacts() />
    } else {
        <DescriptorFactsEditor Disabled=@this.Disabled
                        CanCreate=@true CanEdit=@true
                        OnSubmit=@(async (sched, isEdit) => await this.SetFacts_UI_Async(sched)) />
    }
    
    <DescriptorConditionsEditor Disabled=@this.Disabled
            CanCreate=@true CanEdit=@true
            OnSubmit=@(async (conds, isEdit) => await this.SetConditions_UI_Async(conds))
            Edit=@this.Conditions />

    @if( this.CanSearch ) {
        <div>   @* <- Not superfluous *@
            <div style="position: absolute; display: inline-block;">
                <DescriptorEntryListDisplay
                        Descriptors=@this.SearchResults
                        OnClickEach=@(async (e, m) => await this.SelectSearchResults_UI_Async(e)) />
            </div>
        </div>
    }

    @if( !this.SubmitOnEditOnly ) {
        <button disabled=@this.CanSubmitDescriptorFields()
                @onclick=@(async e => await this.SubmitDescriptor_UI_Async())>
            Submit
        </button>
    }
</div>

