@	using Wayfinder.Shared.Data.Entries;
@	using Wayfinder.Shared.Utility;
@	using Wayfinder.Client.Components.Standard.Timeline
@	using Wayfinder.Client.Components.Application.Views;
@	using Wayfinder.Client.Components.Application.Editors.Descriptor;
	using Wayfinder.Shared.DataEntries;



<div component-name="PlanEditor" class="basic">
	<label>
		Enter plan name (optional):
		<input type="text" />
	</label>

	<PlanOptionTimelineEditor Label="Current plan timeline"
			CanCreate=@false CanEdit=@true SubmitOnEditOnly=@true
			EditTimeline=@(this.GetCurrentOptionTimeline(out _))
			OnSubmit=@(async (timeline, _) => {
				await this.EditPlanTimeline_UI_Async(timeline);
				return true;
			} ) />	@* <- TODO Edit plan options with popup PlanOptionEditor? *@
	
	<PlanOptionTreeEditor
			SubmitOnEditOnly=@true
			Goal=@this.Goal
			EditOptionsPool=@(this.GetCurrentOptionPool(out _))
			OnSubmit=@(async (optionPool) => {
				await this.EditPlanOptionPool_UI_Async( optionPool );
				return true;
			} ) />	@* <- TODO Edit plan options with popup PlanOptionEditor *@
	
	@if( !this.SubmitOnEditOnly ) {
		<button @onclick=@(async e => await this.Submit_UI_Async())>Submit</button>
	}
</div>
