@	using Wayfinder.Shared.Data.Entries;
@	using Wayfinder.Shared.Utility;
@	using Wayfinder.Client.Components.Standard.Timeline;
@	using Wayfinder.Client.Components.Application.Views;
@	using Wayfinder.Client.Components.Application.Views.DescriptorConditions
@	using Wayfinder.Client.Components.Application.Editors.Descriptor;
	using Wayfinder.Shared.DataEntries.Descriptor;



<div component-name="PlanOptionTreeEditor" class="basic">
	<GoalDisplay Goal=@this.Goal />
	<DescriptorConditionsTreeDisplay Tree=@this.Goal.Conditions>
		<AfterCondition>
			<PlanOptionEditor
					CanEdit=@false
					CanRemove=@true
					CanCreate=@true
					EditOption=@(this.GetOptionsForCondition(context).First())
					OnSubmit=@(async (option, isEdit) => {
						await this.SubmitOptionToggleWithinPool_UI_Async( option );
						return true;
					} ) />
		</AfterCondition>
	</DescriptorConditionsTreeDisplay>
</div>
