@using Wayfinder.Shared.Data.Entries;
@using Wayfinder.Shared.Libraries;
@using Wayfinder.Client.Components.Standard.Timeline
@using Wayfinder.Client.Components.Application.Views;
@using Wayfinder.Client.Components.Application.Editors.Descriptor;



<div component-name="PlanEditor" class="basic">
	<label>
		Enter plan name (optional):
		<input type="text" />
	</label>

	<PlanOptionTimelineEditor Label="Current plan timeline"
			CanCreate=@false CanEdit=@true SubmitOnEditOnly=@true
			EditTimeline=@(this.GetCurrentPlan(out _).OptionTimeline)
			OnSubmit=@(async (timeline, _) => {
				await this.EditPlanTimeline_UI_Async(timeline);
				return true;
			} ) />
	
	<PlanOptionTreeEditor
			CanCreate=@true CanEdit=@true SubmitOnEditOnly=@true
			Plan=@(this.GetCurrentPlan(out _))
			OnSubmit=@(async (option, _) => {
				await this.EditPlanOption_UI_Async( option );
				return true;
			} ) />	@* <- Edit plan options with popup PlanOptionEditor *@
	
	@if( !this.SubmitOnEditOnly ) {
		<button @onclick=@(async e => await this.Submit_UI_Async())>Submit</button>
	}
</div>
