@using Wayfinder.Shared.Libraries;
@using Wayfinder.Shared.Libraries.BooleanTree;


@typeparam DataTypeContext;
@typeparam DataType where DataType : IBoolean<DataTypeContext>;
@typeparam DataDisplayComponentType where DataDisplayComponentType : IBooleanEditComponent<DataTypeContext>;
@typeparam DataEditComponentType where DataEditComponentType : IBooleanEditComponent<DataTypeContext>;



@if( this.HasEditor ) {
    @("<div component-name=\"BooleanTreeEditor\" class=\"basic\">")
}

@foreach( IBoolean<DataTypeContext> node in this.TreeData.Children ) {
    @if( node is BooleanTree<DataType, DataTypeContext> ) {
        <BooleanTreeEditor
                HasEditor=@false
                DataTypeContext=@DataTypeContext
                DataType=@DataType
                DataDisplayComponentType=@DataDisplayComponentType
                DataEditComponentType=@DataEditComponentType
                TreeData=@((BooleanTree<DataType, DataTypeContext>)node) />
    } else {
        <DynamicComponent
                Type=@(typeof(DataDisplayComponentType))
                Parameters=@this.Parameterize( (IBoolean<DataType>)node ) />
    }
}

@if( this.HasEditor ) {
    <DynamicComponent Type=@(typeof(DataEditComponentType)) />

    @("</div>")
}


@code {
    //[Inject]
    //public IJSRuntime Js { get; set; } = null!;

    //[Inject]
    //public ClientDataAccess Data { get; set; } = null!;


    [Parameter, EditorRequired]
    public bool HasEditor { get; set; }

    [Parameter, EditorRequired]
    public BooleanTree<DataType, DataTypeContext> TreeData { get; set; } = null!;



    private IDictionary<string, object> Parameterize( IBoolean<DataType> node ) {
        return new Dictionary<string, object> { { "Data", node } };
    }
}
